*,
*::before,
*::after {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  font-family: "DM Sans", sans-serif;
}
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 16px 24px;
  border-bottom: 1px solid #f1f1f1;
}
/* logo */
.logo {
  height: 30px;
  display: block;
}
/* burger menu */
.burger-menu {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: 24px;
  padding: 0;
}
/* childer burger menu (bar) */
.burger-menu .bar {
  height: 3px;
  width: 100%;
  background-color: #333;
  border-radius: 2px;
}
main {
  padding: 0 20px;
}
/* Banner wrapper */
.hero-section {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./src/Hero/bgheroes.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1200px;
  margin: 20px auto;
  padding: 24px 20px;
  border: 1px solid #f1f1f1;
  border-radius: 10px;
  box-sizing: border-box;
}
.hero-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}
.hero-content h1 {
  font-family: "Poppins", sans-serif;
  text-align: center;
  color: #ffffff;
  font-size: clamp(28px, 4vw, 48px);
  font-weight: 700;
  line-height: 1.1;
}
.hero-content p {
  text-align: center;
  font-size: clamp(14px, 4vw, 20px);
  font-weight: 500;
  color: #ffffff;
}
.hero-button {
  width: 100%;
  max-width: 400px;
  height: 40px;
  background-color: #3ecf4c;
  color: #ffffff;
  border: none;
  border-radius: 10px;
  font-weight: 400;
  font-size: 14px;
  cursor: pointer;
  font-family: "DM Sans", sans-serif;
}
.courses-section {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  margin: 20px auto;
  width: 100%;
  gap: 10px;
  box-sizing: border-box;
  border: none;
}
/* judul kategori courses */
.courses-title {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;
}
.courses-title h1 {
  font-family: "Poppins", sans-serif;
  text-align: left;
  font-size: clamp(24px, 4vw, 32px);
  font-weight: 600;
  line-height: 1.1;
}
.courses-title h3 {
  text-align: left;
  font-size: clamp(14px, 4vw, 16px);
  font-weight: 500;
  color: #333333ad;
}
.courses-category {
  display: flex;
  margin-bottom: 20px;
}
/* bar category */
.category {
  background: none;
  border: none;
  text-align: left;
  padding: 8px 5px 8px 0px;
  font-size: 14px;
  font-weight: 500;
  color: #333333ad;
  cursor: pointer;
  position: relative;
  font-family: "DM Sans", sans-serif;
}
/* kondisi aktif */
.category.active {
  color: #f64920;
  font-weight: 500;
}
/* bar status aktif */
.category.active::after {
  content: "";
  position: absolute;
  bottom: -1px;
  width: 100%;
  left: 0px;
  height: 3px;
  border-radius: 2px;
  background-color: #f64920;
}
.courses-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 384px;
  width: 100%;
  padding: 16px;
  border: 1px solid #f1f1f1;
  border-radius: 10px;
  gap: 8px;
  box-sizing: border-box;
}
.detail-courses {
  display: flex;
  gap: 12px;
}
.detail-courses img {
  border-radius: 10px;
  width: 82px;
  height: 82px;
  aspect-ratio: 1/1;
  object-fit: cover;
  flex-shrink: 0;
}
